

<img src="http://www.exalumnos.usm.cl/wp-content/uploads/2015/06/ISOTIPO-Color.jpg" title="Title text" width="20%" />

<hr style="height:2px;border:none"/>
<h1 align='center'> INF-479 Reconocimiento de patrones en minería de datos </h1>

<H2 align='center'> Tarea 3 - Sistemas Recomendadores </H2>
<H3 align='center'> Lucio Fondón Rebolledo - 201773610-0</H3>
<H3 align='center'> Francisco Reyes Jainaga - 201773529-5</H3>
<hr style="height:2px;border:none"/>

# Instrucciones

1. La tarea debe ser desarrollada en parejas.  
2. Los medios de consultas serán Aula y el canal de Discord oficial del curso. 
3. La tarea debe ser realizada en Jupyter Notebook (Python3) utilizando este archivo como base. 
4. Se evaluará la correcta implementación de los algoritmos de filtrado colaborativo aplicados a los datasets escogido por cada grupo, como también la comprensión de los fundamentos teóricos, ventajas y desventajas de cada técnica. 
5. El archivo de entrega debe denominarse T3_Apellido1_Apellido2.ipynb. De no respetarse este formato existirá un descuento de 30 puntos. 
6. La fecha de entrega es el lunes 2 de agosto a las 23:55 hrs, posterior a esto se descontará 1 punto por cada minuto de atraso.

In [257]:
#Librerías 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors

## Datasets Tarea

Para la tarea tendrán a su disposición los siguientes 3 datasets, <b> de las cuales tendrán que escoger 2 para realizar la implementación de su tarea. </b>

   ### 1. MovieLens: 
   Es uno de los datasets más populares de recomendación y recopila las preferencias de usuarios de internet con respecto a películas que son evaluadas de 0 a 5 estrellas. Este dataset ha sido utilizado en diversos estudios de investigación en áreas como la recomendación personalizada y la psicología social.  
* <b>Archivos: </b>
    - ML_ratings.csv: contiene los ratings dados por usuarios a películas. Se compone por las columnas user_id, movie_id y rating. 
    - movies.csv: contiene la metadata sobre las películas. Incluye las columnas movie_id, title y genres (donde se encuentran los géneros de la película separados por "|"). 
 
* <b>Cantidad de ratings</b>: 100836
* <b>Cantidad de usuarios</b>: 610
* <b>Cantidad de películas</b>: 9724
* <b>Calificación</b> 0 a 5 (valores enteros) 

Referencias: [Movielens Dataset](https://grouplens.org/datasets/movielens/)

In [258]:
df_ML_ratings = pd.read_csv("ML_ratings.csv")
df_movies = pd.read_csv("movies.csv")

display(df_ML_ratings)
display(df_movies)

        user_id  movie_id  rating
0             1         1     4.0
1             1         3     4.0
2             1         6     4.0
3             1        47     5.0
4             1        50     5.0
...         ...       ...     ...
100831      610    166534     4.0
100832      610    168248     5.0
100833      610    168250     5.0
100834      610    168252     5.0
100835      610    170875     3.0

[100836 rows x 3 columns]

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### 2. Book-Crossing: 
Es un datasets de ratings de libros recolectado por Cai-Nicolas Ziegler desde la <i>Book-Crossing community</i>. El dataset original contiene 1,149,780 ratings generados por 278,858 usuarios a 271,379 libros. 

* <b>Archivos</b>: 
    - BX_ratings.csv: contiene los ratings dados por usuarios a diferentes libros. Se compone de las columnas user_id, ISBN (identificador para los libros) y rating.
    - books.csv: contiene los títulos de libros asociados a los códigos ISBN (utilizados como item_id). Se compone de las columnas ISBN y title. 

* <b>Cantidad de ratings</b>: 359263
* <b>Cantidad de usuarios</b>: 10775
* <b>Cantidad de libros</b>: 10773
* <b>Calificación</b>: 0 a 10 (valores enteros)

Referencias: [Book-Crossing Dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/)

In [259]:
df_BX_ratings = pd.read_csv("BX_ratings.csv")
df_books = pd.read_csv("books.csv")

display(df_BX_ratings)
display(df_books)

        user_id        ISBN  rating
0        276762  034544003X       0
1        276762  0380711524       5
2        276762  0451167317       0
3        276762  3404611306       0
4        276798  3442437407       0
...         ...         ...     ...
359258   276704  0441007813       0
359259   276704  0446353957       0
359260   276704  0446605409       0
359261   276704  0743211383       7
359262   276704  080410526X       0

[359263 rows x 3 columns]

              ISBN                                              title
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0374157065  Flu: The Story of the Great Influenza Pandemic...
4       0393045218                             The Mummies of Urumchi
...            ...                                                ...
271355  0440400988                         There's a Bat in Bunk Five
271356  0525447644                            From One to One Hundred
271357  006008667X  Lily Dale : The True Story of the Town that Ta...
271358  0192126040                        Republic (World's Classics)
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...

[271360 rows x 2 columns]

### 3. Jester:     
Es un dataset desarrollado por Ken Goldberg y su equipo en la Universidad de Berkeley, el cual contiene alrededor de 6 millones de ratings con respecto a 150 chistes cortos. 
* <b>Archivos</b>:
    - JT_ratings.csv: contiene los ratings dados por usuarios a diferentes chistes cortos. Se compone por las columnas joke_id, user_id y rating. 
    - jokes.csv: contiene 

* <b>Cantidad de ratings</b>: 199900
* <b>Cantidad de usuarios</b>: 1999
* <b>Cantidad de chistes</b>: 100 
* <b>Calificación</b>: -10 a 10 (valores reales)
    
Referencias: [Jester Dataset](http://eigentaste.berkeley.edu/dataset/)

In [260]:
df_JT_ratings = pd.read_csv("JT_ratings.csv")
df_jokes = pd.read_csv("jokes.csv")

display(df_JT_ratings)
display(df_jokes)

        joke_id  user_id  rating
0             0        1    5.10
1             1        1    4.90
2             2        1    1.75
3             3        1   -4.17
4             4        1    5.15
...         ...      ...     ...
199895       95     1999   -4.13
199896       96     1999   -1.21
199897       97     1999    5.29
199898       98     1999   -9.13
199899       99     1999    9.08

[199900 rows x 3 columns]

    joke_id                                          joke_text
0         0  A man visits the doctor. The doctor says "I ha...
1         1  This couple had an excellent relationship goin...
2         2  Q. What's 200 feet long and has 4 teeth? \n\nA...
3         3  Q. What's the difference between a man and a t...
4         4  Q.\tWhat's O. J. Simpson's Internet address? \...
..      ...                                                ...
95       95  Two attorneys went into a diner and ordered tw...
96       96  A teacher is explaining to her class how diffe...
97       97  Age and Womanhood\n\n1. Between the ages of 13...
98       98  A bus station is where a bus stops.\nA train s...
99       99  Q: Whats the difference between greeting a Que...

[100 rows x 2 columns]

## Instrucciones

<img src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs11227-020-03266-2/MediaObjects/11227_2020_3266_Fig1_HTML.png" title="Title text" width="60%" />
<center> <i> Figura 1. Collaborative Filtering. </i> </center>

## 1. User based Collaborative Filtering (40 puntos)

La primera parte de la tarea constará de las siguientes secciones: 
1. Implementación de un sistema de recomendación de filtro colaborativo basado en usuarios utilizando los k vecinos más cercanos. Para esta parte, se debe utilizar <b> similaridad coseno </b> como medida de similaridad entre el usuario objetivo y el resto de usuarios. Además, el parámetro k debe ser escogido por ustedes. 

2. Se ingresa nuevo usuario al sistema, se le pide que califique 10 productos (a elección) y a partir de eso se le realiza la recomendación de 5 productos que no ha calificado. Es importante que en su procedimiento se muestren las ids de los k vecinos más cercanos.  

3. Concluir y responder las siguientes preguntas: 

   >a. ¿Cuáles fueron las 5 recomendaciones obtenidas? Analice y concluya respecto a estos resultados.  
    
   >b. ¿Qué cantidad de vecinos cercanos (k) se escogió para la recomendación? ¿En qué influye la elección de este parámetro? ¿Qué sucede a medida que aumenta este parámetro?
    
   >c. ¿Cuál era el porcentaje de <i>sparsity</i> de la matriz usuarios-items? ¿Cuáles son las desventajas de este enfoque? 


<i>Importante: Esto debe ser realizado para ambos datasets escogidos</i>

## Desarrollo P1

Primero, definiremos funciones que nos servirán de ayuda para los dos datasets elegidos (__MovieLens__ y __Jester__). Definiremos una función que nos retorne los $k$ id's de los usuarios más similares respecto a un usuario objetivo y otra función que realizará la recomendación de las $n$ mejores películas para el usuario objetivo

In [261]:
# Creamos una función que nos retorne los usuarios más similares respecto a un usuario objetivo
# Se utilizará (como es pedido) la similaridad coseno como métrica

"""
input
user_id  : (int) id del usuario objetivo 
matrix   : (2D array) matriz de ratings entre los usuarios y los items con ratings
k        : (int) k vecinos más cercanos

output
users    : (1D array) arreglo con las id's de los k usuarios más cercanos al usuario objetivo
"""

def similar_users(user_id, matrix, k=3):
    user = matrix[matrix.index == user_id] # ratings usuario objetivo
    other_users = matrix[matrix.index != user_id] # ratings resto de usuarios
    
    # Calculamos la similaridad coseno entre el usuario objetivo y el resto de ellos
    similarities = cosine_similarity(user,other_users)[0].tolist()
    
    indices = other_users.index.tolist()
    
    # Diccionario donde la llave es el id de un usuario distinto al objetivo
    # el valor es la similaridad coseno del usuario con el usuario objetivo
    index_similarity = dict(zip(indices, similarities))
        
    # Ordenamos por similaridad de mayor a menor
    index_similarity_sorted = sorted(index_similarity.items(), key=lambda x:x[1], reverse=True)
    
    # Escogemos los k primeros vecinos más cercanos (son los con mayor similitud con el usuario objetivo)
    top_users_similarities = index_similarity_sorted[:k]
    
    # Obtenemos los id de los usuarios
    users = [u[0] for u in top_users_similarities]
    return users

# Creamos función que nos retorne los n items con mejor recomendación para un usuario objetivo

"""
input
user_id            : (int) id del usuario objetivo 
similar_user_ids   : (1D array) arreglo que contiene las id's de usuarios similares
matrix             : (2D array) matriz de ratings entre los usuarios y los items con ratings
dataset            : (string) string que corresponde al nombre del dataset que se utiliza
n                  : (int) n items a recomendar para el usuario objetivo user_id

output
items_prediction   : (array) arreglo con las mejores n predicciones para el usuario objetivo
"""

def recommend_item(user_id, similar_user_ids, matrix, dataset, n=5):
    # Obtenemos los vectores de los usuarios similares al usuario objetivo obtenidos con la función similar_users
    similar_users = matrix[matrix.index.isin(similar_user_ids)]

    # Calculamos el rating de los k usuarios más cercanos
    similar_users = similar_users.mean(axis=0)
    similar_users_df = pd.DataFrame(similar_users, columns=['mean'])
        
    # Obtenemos el vector del usuario objetivo
    user_df = matrix[matrix.index == user_id]
    user_df_transposed = user_df.transpose()
    user_df_transposed.columns = ['rating']
    
    # Obtenemos los items que el usuario objetivo NO ha rateado
    user_df_transposed = user_df_transposed[user_df_transposed['rating']==0]
    items_not_rated = user_df_transposed.index.tolist()
        
    # Filtramos el rating promedio de los usuarios de los items no rateados por el usuario objetivo
    similar_users_df_filtered = similar_users_df[similar_users_df.index.isin(items_not_rated)]
   
    # Ordenamos el dataframe de mayor a menor rating y obtenemos los n primeros
    similar_users_df_ordered = similar_users_df.sort_values(by=['mean'], ascending=False)
    top_n_items = similar_users_df_ordered.head(n)
    top_n_items_indices = top_n_items.index.tolist()
    
    # Dependiendo del dataset usado, se utiliza el nombre correspondiente
    item_id = ''
    if dataset == 'movielens':
        item_id = 'movie_id'
        df_final = df_movies
    elif dataset == 'jester':
        item_id = 'joke_id'
        df_final = df_jokes
    
    # Se consulta al dataset con los top n items seleccionados
    items_prediction = df_final[df_final[item_id].isin(top_n_items_indices)]
    
    return items_prediction

## Desarrollo P2

Ahora, debemos ingresar un nuevo usuario al sistema y que califique 10 productos. Para esto, se realizará una función que realizará automáticamente esta calificación para los dos datasets escogidos. Éstos se escogerán de manera al azar, por lo que se seteará una semilla para poder replicar resultados y que la revisión sea más adecuada y fácil de realizar

In [262]:
"""
input
dataset : (string) string que corresponde al nombre del dataset que se utiliza

output
df      : (pandas dataframe) dataframe con las 10 calificaciones agregadas
"""

def rate_10_products(dataset):
    np.random.seed(0) # Se setea una semilla para poder replicar resultados
    if dataset == 'movielens':
        df = df_ML_ratings.copy()
        
        # Sacamos el id nuevo que tendrá el usuario, se le sumará +1 al último que se encuentre en el df
        new_user_id = df.iloc[-1]['user_id'] + 1
        
        # Obtenemos todos los id de las películas
        movie_ids = df['movie_id'].unique()
        
        # Seleccionamos al azar 10 películas para calificarlas
        random_movies = np.random.choice(movie_ids, size=10, replace=False)
        
        # Generamos ratings de manera aleatoria en el rango de 0-5
        random_ratings = np.random.randint(0, 6, size=10)
        
        # Diccionario con todos los valores generados
        random_final = {
            'user_id' : [new_user_id] * 10,
            'movie_id' : random_movies,
            'rating' : random_ratings,
        }
        
        # Generamos un dataframe para los datos del usuario nuevo
        df_random_ratings = pd.DataFrame(random_final)
        
        # Printearmos para ver qué películas calificó el usuario
        print("El usuario con user_id de " + str(new_user_id) + " calificó las siguientes películas:")
        
        for index, row in df_random_ratings.iterrows():
            movie =  df_movies[df_movies['movie_id'] == row['movie_id']]['title'].item()
            rating = row['rating']
            print("Película: " + movie + " con rating " + str(rating))
        
        # Agregamos los datos al df original
        df = df.append(df_random_ratings)
        
        # Retornamos el nuevo df con los datos del nuevo usuario
        return df
        
    elif dataset == 'jester':
        df = df_JT_ratings.copy()
        
        # Sacamos el id nuevo que tendrá el usuario, se le sumará +1 al último que se encuentre en el df
        new_user_id = df.iloc[-1]['user_id'] + 1
        
        # Obtenemos todos los id de las bromas
        joke_ids = df['joke_id'].unique()
        
        # Seleccionamos al azar 10 bromas para calificarlas
        random_jokes = np.random.choice(joke_ids, size=10, replace=False)
        
        # Generamos ratings de manera aleatoria en el rango de -10.0 a 10.0
        random_ratings = np.random.uniform(-10.0, 10.0, 10).round(decimals=2)
        
        # Diccionario con todos los valores generados
        random_final = {
            'joke_id' : random_jokes,
            'user_id' : [new_user_id] * 10,
            'rating' : random_ratings,
        }
        
        # Generamos un dataframe para los datos del usuario nuevo
        df_random_ratings = pd.DataFrame(random_final)
        
        # Printearmos para ver qué películas calificó el usuario
        print("El usuario con user_id de " + str(new_user_id) + " calificó las siguientes bromas: ")
        
        for index, row in df_random_ratings.iterrows():
            movie =  df_jokes[df_jokes['joke_id'] == row['joke_id']]['joke_text'].item()
            rating = row['rating']
            print("Broma: " + movie + "\n Con rating " + str(rating) +"\n")
            print("-" * 60)
        # Agregamos los datos al df original
        df = df.append(df_random_ratings)
        
        # Retornamos el nuevo df con los datos del nuevo usuario
        return df

### MovieLens

Primero, utilizaremos la función $\texttt{rate_10_products}$ para crear un nuevo usuario al azar y que califique aleatoriamente 10 películas

In [263]:
movies_with_new_rating = rate_10_products('movielens')
movies_with_new_rating

El usuario con user_id de 611.0 calificó las siguientes películas:
Película: Tequila Sunrise (1988) con rating 5.0
Película: Peyton Place (1957) con rating 1.0
Película: Pride (2014) con rating 1.0
Película: Pink Panther Strikes Again, The (1976) con rating 2.0
Película: Expendables 2, The (2012) con rating 2.0
Película: Boogeyman, The (1980) con rating 0.0
Película: Blue Exorcist: The Movie (2012) con rating 2.0
Película: Revolver (2005) con rating 0.0
Película: Shipping News, The (2001) con rating 1.0
Película: Some Kind of Wonderful (1987) con rating 5.0

    user_id  movie_id  rating
0       1.0         1     4.0
1       1.0         3     4.0
2       1.0         6     4.0
3       1.0        47     5.0
4       1.0        50     5.0
..      ...       ...     ...
5     611.0      4827     0.0
6     611.0    148978     2.0
7     611.0     40148     0.0
8     611.0      5016     1.0
9     611.0      1290     5.0

[100846 rows x 3 columns]

Luego, debemos generar la matriz de ratings entre los usuarios y las películas rateadas, de tal forma que quede una matriz cuadrada $n x n$, en donde $n$ serían la cantidad de usuarios en el dataset, y los valores de la matriz será el rating del usuario $i$ con la película $j$

In [264]:
rating_matrix_movies = movies_with_new_rating.pivot_table(index = 'user_id',columns = 'movie_id', values = 'rating').fillna(0)
rating_matrix_movies

movie_id,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
user_id,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608.0,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
611.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Ahora, solo debemos utilizar las funciones realizadas anteriormente para poder obtener las 5 recomendaciones pedidas. Se probarán con distintos valores de $k$, con el fin de poder concluir respecto a la elección de $k$

### k = 3

In [265]:
current_user = 611
similar_user_indices = similar_users(current_user, rating_matrix_movies, k=3)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_movies, 'movielens')

[562.0, 202.0, 100.0]

      movie_id                           title                    genres
314        356             Forrest Gump (1994)  Comedy|Drama|Romance|War
945       1246       Dead Poets Society (1989)                     Drama
1005      1307  When Harry Met Sally... (1989)            Comedy|Romance
1146      1500      Grosse Pointe Blank (1997)      Comedy|Crime|Romance
1445      1968      Breakfast Club, The (1985)              Comedy|Drama

### k = 5

In [266]:
current_user = 611
similar_user_indices = similar_users(current_user, rating_matrix_movies, k=5)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_movies, 'movielens')

[562.0, 202.0, 100.0, 555.0, 268.0]

,movie_id,title,genres
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War
899,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
1005,1307,When Harry Met Sally... (1989),Comedy|Romance
1322,1784,As Good as It Gets (1997),Comedy|Drama|Romance
1445,1968,"Breakfast Club, The (1985)",Comedy|Drama

### k = 10

In [267]:
current_user = 611
similar_user_indices = similar_users(current_user, rating_matrix_movies, k=10)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_movies, 'movielens')

[562.0, 202.0, 100.0, 555.0, 268.0, 597.0, 414.0, 368.0, 84.0, 66.0]

,movie_id,title,genres
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War
898,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
899,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
1445,1968,"Breakfast Club, The (1985)",Comedy|Drama

### k = 30

In [268]:
current_user = 611
similar_user_indices = similar_users(current_user, rating_matrix_movies, k=30)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_movies, 'movielens')

[562.0, 202.0, 100.0, 555.0, 268.0, 597.0, 414.0, 368.0, 84.0, 66.0, 603.0, 19.0, 51.0, 57.0, 469.0, 184.0, 369.0, 217.0, 50.0, 474.0, 221.0, 292.0, 305.0, 288.0, 534.0, 18.0, 448.0, 352.0, 249.0, 387.0]

,movie_id,title,genres
224,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War
898,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
1939,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2078,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery

### Jester

Análogo a lo anterior, se realizan los mismos pasos anteriores

In [269]:
jokes_with_new_rating = rate_10_products('jester')
jokes_with_new_rating

El usuario con user_id de 2000.0 calificó las siguientes bromas:
Broma: Clinton returns from a vacation in Arkansas and walks down  the
steps of Air Force One with two pigs under his arms.  At the bottom
of the steps, he says  to the honor guardsman, "These are genuine
Arkansas Razor-Back Hogs.  I got this one for Chelsea and this one for
Hillary."

The guardsman replies, "Nice trade, Sir."

 Con rating -8.08

------------------------------------------------------------
Broma: A man, recently completing a routine physical examination receives a
phone call from his doctor.  The doctor says, "I have some good news and
some bad news."  The man says, "OK, give me the good news first."  The
doctor says, "The good news is, you have 24 hours to live."  The man
replies, "Shit!  That's the good news?  Then what's the bad news?"

The doctor says, "The bad news is, I forgot to call you yesterday."

 Con rating 9.53

------------------------------------------------------------
Broma: Q. What's 200 feet long and has 4 teeth?

A. The front row at a Willie Nelson Concert.

 Con rating -0.63

------------------------------------------------------------
Broma: A man and Cindy Crawford get stranded on a desert island.  After a couple
of days they fall in love and start sleeping together.  Time pass the
man seems frustrated, Cindy asks if there is anything she can do?  He
says there is one thing, "Could you put on this baseball cap and go to
the other side of the island and answer me when I call you Bob?"  She
agrees.  Next day he is walking on the other side of the island, runs
into her and says "Hi Bob!"
She says "Hello, what's up?"
He replies: "Bob you won't believe it: I've been sleeping with Cindy
Crawford for the past two weeks!!!!"

 Con rating 9.54

------------------------------------------------------------
Broma: There once was a man and a woman that both  got in  a terrible car wreck. Both of their vehicles
were completely destroyed, buy fortunately, no one  was   hurt.  In thankfulness, the woman said to the
man, 'We are both okay, so we should celebrate. I have   a  bottle of wine in my car, let's open it.'
So the woman got the bottleout of the car, and  handed it to the man. The man took a really big drink,
and handed the woman the bottle. The  woman  closed the bottle and put it down. The man  asked,
'Aren't you going to take a drink?'

The woman cleverly replied,
'No, I think I'll  just  wait for the cops to get here.'

 Con rating 2.1

------------------------------------------------------------
Broma: Two atoms are walking down the street when one
atom says to the other
"Oh, my! I've lost an electron!"

The second atom says"Are you sure"

The first replies "I'm positive!"

 Con rating 4.79

------------------------------------------------------------
Broma: How many men does it take to screw in a light bulb?

One...men will screw anything.

 Con rating -9.22

------------------------------------------------------------
Broma: Q: How many stalkers does it take to change a light bulb?

A: Two. One to replace the bulb, and the other to watch it day and night.

 Con rating -4.34

------------------------------------------------------------
Broma: A woman has twins, and gives them up for adoption.  One of
them goes to a family in Egypt and is named "Amal."  The other goes to
a  family in Spain; they name him "Juan."  Years later, Juan sends a
picture of himself to his mom.  Upon receiving the picture, she tells
her husband that she wishes she also had a picture of Amal.
Her husband responds, "But they are twins-if you've seen Juan, you've
seen   Amal.

 Con rating -7.6

------------------------------------------------------------
Broma: Two attorneys went into a diner and ordered two drinks.  Then they produced
sandwiches from their briefcases and started to eat.  The owner became
quite concerned and marched over and told them, "You can't eat your own
sandwiches in here!"

The attorneys looked at each other, shrugged their shoulders and then
exchanged sandwiches.

 Con rating -4.08

------------------------------------------------------------

    joke_id  user_id  rating
0         0      1.0    5.10
1         1      1.0    4.90
2         2      1.0    1.75
3         3      1.0   -4.17
4         4      1.0    5.15
..      ...      ...     ...
5        93   2000.0    4.79
6        16   2000.0   -9.22
7        73   2000.0   -4.34
8        54   2000.0   -7.60
9        95   2000.0   -4.08

[199910 rows x 3 columns]

In [270]:
rating_matrix_jokes = jokes_with_new_rating.pivot_table(index = 'user_id',columns = 'joke_id', values = 'rating').fillna(0)
rating_matrix_jokes

joke_id,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
user_id,,,,,,,,,,,,,,,,,,,,,
1.0,5.10,4.90,1.75,-4.17,5.15,1.75,4.76,3.30,-2.57,-1.41,...,5.34,-4.61,3.59,7.18,0.92,6.31,-4.95,-0.19,3.25,4.37
2.0,-8.79,-0.87,1.99,-4.61,5.39,-0.78,1.60,1.07,-8.69,-4.66,...,3.59,1.21,2.86,-0.05,-1.75,-1.02,-0.97,4.13,-1.84,2.96
3.0,-3.50,-2.91,-2.18,-0.10,7.52,1.26,-5.39,1.50,-8.40,4.37,...,1.84,-4.03,-1.41,1.65,-3.79,3.98,-6.46,-6.89,-2.33,-7.38
4.0,7.14,-3.88,-3.06,0.05,6.26,6.65,-7.52,7.28,-5.15,-7.14,...,-4.47,6.36,4.71,-5.19,6.26,3.93,-2.57,1.07,2.33,-0.34
5.0,-8.79,-0.58,-0.58,8.98,7.67,8.25,4.08,2.52,-9.66,2.48,...,-0.29,9.37,8.30,9.13,-3.45,9.13,9.17,9.17,9.08,8.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996.0,3.06,1.84,1.50,1.50,0.05,2.14,1.17,0.63,0.10,3.01,...,3.54,0.78,-0.78,-0.05,4.56,3.98,3.50,-5.00,3.30,3.98
1997.0,2.33,7.48,-1.89,6.60,1.80,-6.46,6.65,1.31,-9.42,1.75,...,0.00,2.91,7.82,-4.76,2.18,-1.60,-7.38,0.49,-2.09,5.53
1998.0,7.82,1.84,-1.70,-5.15,2.91,5.15,-0.34,-3.50,4.32,8.69,...,5.53,5.78,6.02,0.00,-1.26,8.11,-1.26,-1.26,0.15,1.70
1999.0,2.28,7.04,-8.50,5.68,-4.13,3.64,-4.17,-4.17,-3.98,0.58,...,0.73,-3.93,-5.15,2.04,1.70,-4.13,-1.21,5.29,-9.13,9.08
2000.0,0.00,0.00,-0.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,4.79,0.00,-4.08,0.00,0.00,0.00,0.00

### k = 3

In [271]:
current_user = 2000
similar_user_indices = similar_users(current_user, rating_matrix_jokes, k=3)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_jokes, 'jester')

[84.0, 1879.0, 1756.0]

    joke_id                                          joke_text
0         0  A man visits the doctor. The doctor says "I ha...
83       83  Q: What is the difference between Mechanical E...
87       87  A Czechoslovakian man felt his eyesight was gr...
88       88  A radio conversation of a US naval \nship with...
94       94  Just a thought ..\n\nBefore criticizing someon...

### k = 5

In [272]:
current_user = 2000
similar_user_indices = similar_users(current_user, rating_matrix_jokes, k=5)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_jokes, 'jester')

[84.0, 1879.0, 1756.0, 1739.0, 161.0]

    joke_id                                          joke_text
0         0  A man visits the doctor. The doctor says "I ha...
55       55  A man and Cindy Crawford get stranded on a des...
87       87  A Czechoslovakian man felt his eyesight was gr...
93       93  Two atoms are walking down the street when one...
94       94  Just a thought ..\n\nBefore criticizing someon...

### k = 10

In [273]:
current_user = 2000
similar_user_indices = similar_users(current_user, rating_matrix_jokes, k=10)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_jokes, 'jester')

[84.0, 1879.0, 1756.0, 1739.0, 161.0, 1468.0, 1308.0, 633.0, 446.0, 196.0]

    joke_id                                          joke_text
0         0  A man visits the doctor. The doctor says "I ha...
55       55  A man and Cindy Crawford get stranded on a des...
86       86  A man, recently completing a routine physical ...
87       87  A Czechoslovakian man felt his eyesight was gr...
93       93  Two atoms are walking down the street when one...

### k = 30

In [274]:
current_user = 2000
similar_user_indices = similar_users(current_user, rating_matrix_jokes, k=30)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_jokes, 'jester')

[84.0, 1879.0, 1756.0, 1739.0, 161.0, 1468.0, 1308.0, 633.0, 446.0, 196.0, 1820.0, 1835.0, 419.0, 1984.0, 373.0, 1575.0, 1626.0, 288.0, 1485.0, 1226.0, 1040.0, 370.0, 21.0, 1644.0, 499.0, 1080.0, 1370.0, 1470.0, 772.0, 1547.0]

    joke_id                                          joke_text
55       55  A man and Cindy Crawford get stranded on a des...
86       86  A man, recently completing a routine physical ...
87       87  A Czechoslovakian man felt his eyesight was gr...
88       88  A radio conversation of a US naval \nship with...
93       93  Two atoms are walking down the street when one...

### k = 50

In [275]:
current_user = 2000
similar_user_indices = similar_users(current_user, rating_matrix_jokes, k=50)
print(similar_user_indices)
recommend_item(current_user, similar_user_indices, rating_matrix_jokes, 'jester')

[84.0, 1879.0, 1756.0, 1739.0, 161.0, 1468.0, 1308.0, 633.0, 446.0, 196.0, 1820.0, 1835.0, 419.0, 1984.0, 373.0, 1575.0, 1626.0, 288.0, 1485.0, 1226.0, 1040.0, 370.0, 21.0, 1644.0, 499.0, 1080.0, 1370.0, 1470.0, 772.0, 1547.0, 444.0, 1444.0, 902.0, 642.0, 1075.0, 1493.0, 1708.0, 856.0, 1637.0, 377.0, 227.0, 119.0, 1278.0, 982.0, 7.0, 55.0, 1798.0, 267.0, 1621.0, 1572.0]

    joke_id                                          joke_text
49       49  A guy goes into confession and says to the pri...
55       55  A man and Cindy Crawford get stranded on a des...
68       68  This guys wife asks, "Honey if I died would yo...
86       86  A man, recently completing a routine physical ...
88       88  A radio conversation of a US naval \nship with...

## Desarrollo P3

   > __R:__ El <i>sparsity</i> de una matriz $A$ se define como:
   $$sparsity = 1 - \frac{cantidad\_no\_ceros(A)}{total\_elementos(A)}$$ 
   
   > entonces, crearemos una función que nos ayudará a calcular lo anterior

In [276]:
"""
input
A        : (pandas datafrane) matriz de ratings en forma de dataframe

output
sparsity : (double) valor del sparsity de la matriz
"""
def sparsity(A):
    # Calculamos la cantidad de elementos no nulos de A
    cantidad_no_ceros = np.count_nonzero(A)
    
    # Calculamos el total de elementos de A
    total_elementos = A.size
    
    # Calculamos la sparsity
    sparsity = 1 - cantidad_no_ceros/total_elementos
    
    return sparsity

   
   > __Sparsity para MovieLens:__

In [277]:
print("El porcentaje de sparsity de la matriz del dataset MovieLens es: " + str(sparsity(rating_matrix_movies)* 100) + "%")

El porcentaje de sparsity de la matriz del dataset MovieLens es: 98.30267931740927%

   > __Sparsity para Jester:__

In [278]:
print("El porcentaje de sparsity de la matriz del dataset Jester es: " + str(sparsity(rating_matrix_jokes)* 100) + "%")

El porcentaje de sparsity de la matriz del dataset Jester es: 0.36000000000000476%

> El <i>sparsity</i> de la matriz de ratings para ambos datasets escogidos da diametralmente distinto, obteniendóse para MovieLens un $sparsity\_movielens \approx 98\%$ y $sparsity\_jester \approx 0.36\%$. Lo anterior indica que, comparando los dos resultados obtenidos, dentro del dataset de __MovieLens__ existe una gran cantidad de usuarios (casi en su totalidad) que han calificado muy pocas películas (y estamos hablando de un dataset de más de 9700 películas), por lo que existirán muchos valores nulos que no aportarán mucho y es más, perjudicarán la precisión de la predicción de las recomendaciones, esto principalmente debido a que al tener películas que tienen por ejemplo un solo usuario que la haya calificado, y que este usuario tenga similaridad con el usuario objetivo, esto podría tender a obtener una recomendación errónea debido a que se está basando en una sola calificación para hacer el cómputo, no así como ocurre con el dataset __Jester__, ya que este presenta un porcentaje casi nulo de sparsity, lo que indica que casi la totalidad de los usuarios contenidos dentro del dataset han calificado la mayoría de las bromas que contiene el dataset (podría de hecho tomarse como una <i>matriz densa</i>, o sea, que la mayoría de sus elementos son no nulos), por lo que, al tener más información con la qué trabajar, la predicción tiene a ser más precisa y confiable.

## 2. Item based Collaborative Filtering (40 puntos)

La segunda parte de la tarea constará de las siguientes secciones: 
1. Implementación de un sistema de recomendación de filtro colaborativo basado en ítems utilizando los k ítems más cercanos. Para esta parte, se debe utilizar <b> similaridad coseno </b> como medida de similaridad entre los ítems. Además, el parámetro k debe ser escogido por ustedes. 

2. Se ingresa nuevo usuario al sistema, se le pide que califique 10 productos (a elección) y a partir de eso se le realiza la recomendación de 5 productos que no ha calificado. Para poder llevar a cabo la recomendación recordar los siguientes pasos:
    >a. Se debe generar la matriz de similaridad entre productos basada en la similaridad coseno.
    
    >b. Para realizar la recomendación, se debe predecir el rating de todos los productos que el usuario nuevo del sistema no haya calificado aún. Para esto, se deben obtener los k ítems más cercanos al ítem a predecir y se debe predecir su rating en base a la <i> weighted sum </i> de los ratings de dichos k ítems. 
    
    >c. Una vez predecidos los ratings para todos los productos sin calificación, se deben recomendar al usuario los 5 productos con mayor rating predecido. 

3. Concluir y responder las siguientes preguntas: 

   >a. ¿Cuáles fueron las 5 recomendaciones obtenidas? Analice y concluya respecto a estos resultados.  
    
   >b. ¿Qué cantidad de vecinos cercanos (k) se escogió para la recomendación? ¿En qué influye la elección de este parámetro? ¿Qué sucede a medida que aumento este parámetro?
    
   >c. ¿Cuáles son las ventajas de este enfoque respecto al anterior? 


<i>Importante: Esto debe ser realizado para ambos datasets escogidos</i>

## Desarrollo P1

Utilizaremos el módulo __NearestNeighbors__ de sklearn, con la métrica de distana coseno para poder predecir luego los ratings del usuario que se ingresará. Se utilizará en primera instancia los 3 vecinos más cercanos y luego ir variando el valor para concluir

In [279]:
def item_based_knn(rating_item_matrix, number_neighbors=3):
    knn = NearestNeighbors(metric='cosine', algorithm='brute')
    knn.fit(rating_item_matrix.values)
    
    distances, indices = knn.kneighbors(rating_item_matrix.values, n_neighbors=number_neighbors)
    
    return distances, indices

## Desarrollo P2

In [280]:
def get_predicted(rating_matrix, user, number_neighbors=3):
    copia_aux = rating_matrix.copy()    
    user_index = rating_matrix.columns.tolist().index(user)
        
    distances, indices = item_based_knn(copia_aux,number_neighbors)
    #empieza la busqueda de sugerencias
    for m,t in list(enumerate(copia_aux.index)):

          # se encuentran libros sin calificar de usuario
            if copia_aux.iloc[m, user_index] == 0:
                similar_items = indices[m].tolist()
                items_distances = distances[m].tolist()

            #se saca el libro de las similitudes. 
            if m in similar_items:
                item_id = similar_items.index(m)
                similar_items.remove(m)
                items_distances.pop(item_id) 

            # si existen muchos ceros a vecinos cercanos se sacan los vecinos mas lejanos.
            else:
                similar_items = similar_items[:number_neighbors-1]
                items_distances = items_distances[:number_neighbors-1]


            item_similarity = [1-x for x in items_distances]
            item_similarity_copy = item_similarity.copy()
            nominator = 0

            # para cada libro similar
            for s in range(0, len(item_similarity)):

              # vemos si valor es cero
                if copia_aux.iloc[similar_items[s], user_index] == 0:

                # de ser cero se ignora
                    if len(item_similarity_copy) == (number_neighbors - 1):
                        item_similarity_copy.pop(s)

                    else:
                        item_similarity_copy.pop(s-(len(item_similarity)-len(item_similarity_copy)))

                else:
                    nominator = nominator + item_similarity[s]*copia_aux.iloc[similar_items[s],user_index]
            if len(item_similarity_copy) > 0:
                if sum(item_similarity_copy) > 0:
                    predicted_r = nominator/sum(item_similarity_copy)
                else:
                    predicted_r = 0
            else:
                predicted_r = 0
            copia_aux.iloc[m,user_index] = predicted_r
            
    #la copia del la matriz, copia_aux, actualiza todas las predicciones para el usuario user       
    return copia_aux

def item_recom(rating_matrix, user, num_recommended_items,dataset, number_neighbors=3):
    copia_aux = get_predicted(rating_matrix, user, number_neighbors)
    
    recommended_items = []

    for m in rating_matrix[rating_matrix[user] == 0].index.tolist():

        index_rating = rating_matrix.index.tolist().index(m)
        predicted_rating = copia_aux.iloc[index_rating, copia_aux.columns.tolist().index(user)]
        recommended_items.append((m, predicted_rating))

    sorted_rm = sorted(recommended_items, key=lambda x:x[1], reverse=True)
      
    if dataset == 'movielens':
        print('Películas recomendadas para el usuario de id: {}\n'.format(user))
        rank = 1
        for recommended_items in sorted_rm[:num_recommended_items]:
            movie =  df_movies[df_movies['movie_id'] == recommended_items[0]]['title'].item()
            rating = recommended_items[1]        
            print('{}: {} - predicción: {}'.format(rank, movie, rating))
            rank = rank + 1
            
    elif dataset == 'jester':
        print('Chistes recomendados para el usuario de id: {}\n'.format(user))
        rank = 1
        for recommended_items in sorted_rm[:num_recommended_items]:
            joke =  df_jokes[df_jokes['joke_id'] == recommended_items[0]]['joke_text'].item()
            rating = recommended_items[1]        
            print('{}: {} - predicción: {}'.format(rank, joke, rating))
            rank = rank + 1
            print("-"*80)

### MovieLens

Igual que en el UBCF, utilizaremos las funciones creadas ahí para que un usuario nuevo califique 5 películas, para luego utilizar el item_based_knn sobre el nuevo df, entonces:

In [281]:
movies_with_new_rating = rate_10_products('movielens')
movies_with_new_rating

El usuario con user_id de 611.0 calificó las siguientes películas:
Película: Tequila Sunrise (1988) con rating 5.0
Película: Peyton Place (1957) con rating 1.0
Película: Pride (2014) con rating 1.0
Película: Pink Panther Strikes Again, The (1976) con rating 2.0
Película: Expendables 2, The (2012) con rating 2.0
Película: Boogeyman, The (1980) con rating 0.0
Película: Blue Exorcist: The Movie (2012) con rating 2.0
Película: Revolver (2005) con rating 0.0
Película: Shipping News, The (2001) con rating 1.0
Película: Some Kind of Wonderful (1987) con rating 5.0

    user_id  movie_id  rating
0       1.0         1     4.0
1       1.0         3     4.0
2       1.0         6     4.0
3       1.0        47     5.0
4       1.0        50     5.0
..      ...       ...     ...
5     611.0      4827     0.0
6     611.0    148978     2.0
7     611.0     40148     0.0
8     611.0      5016     1.0
9     611.0      1290     5.0

[100846 rows x 3 columns]

In [282]:
rating_matrix_item_ML = movies_with_new_rating.pivot_table(index = 'movie_id',columns = 'user_id', values = 'rating').fillna(0)
display(rating_matrix_item_ML)

user_id,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,602.0,603.0,604.0,605.0,606.0,607.0,608.0,609.0,610.0,611.0
movie_id,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0,0.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### k = 3

In [283]:
item_recom(rating_matrix_item_ML_new, 611, 5,'movielens',number_neighbors=3)

Películas recomendadas para el usuario de id: 611

1: Princess Mononoke (Mononoke-hime) (1997) - predicción: 4.0
2: Titan A.E. (2000) - predicción: 4.0
3: Two Mules for Sister Sara (1970) - predicción: 3.0000000000000004
4: Animal Crackers (1930) - predicción: 3.0000000000000004
5: Last Starfighter, The (1984) - predicción: 3.0000000000000004

### k = 10

In [284]:
item_recom(rating_matrix_item_ML_new, 611, 5,'movielens',number_neighbors=10)

Películas recomendadas para el usuario de id: 611

1: Princess Mononoke (Mononoke-hime) (1997) - predicción: 4.0
2: Titan A.E. (2000) - predicción: 4.0
3: Others, The (2001) - predicción: 4.0
4: Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001) - predicción: 4.0
5: My Neighbor Totoro (Tonari no Totoro) (1988) - predicción: 4.0

### k = 30

In [285]:
item_recom(rating_matrix_item_ML_new, 611, 5,'movielens',number_neighbors=30)

Películas recomendadas para el usuario de id: 611

1: Akira (1988) - predicción: 4.0
2: Lost Highway (1997) - predicción: 4.0
3: Fear and Loathing in Las Vegas (1998) - predicción: 4.0
4: Metropolis (1927) - predicción: 4.0
5: Modern Times (1936) - predicción: 4.0

### k = 50

In [286]:
item_recom(rating_matrix_item_ML_new, 611, 5,'movielens',number_neighbors=50)

Películas recomendadas para el usuario de id: 611

1: Burnt Offerings (1976) - predicción: 5.000000000000002
2: Amityville: Dollhouse (1996) - predicción: 5.000000000000001
3: April Fool's Day (1986) - predicción: 5.000000000000001
4: Blood Beach (1981) - predicción: 5.000000000000001
5: Jaws 3-D (1983) - predicción: 5.000000000000001

### Jester

In [287]:
jokes_with_new_rating = rate_10_products('jester')
jokes_with_new_rating

El usuario con user_id de 2000.0 calificó las siguientes bromas:
Broma: Clinton returns from a vacation in Arkansas and walks down  the
steps of Air Force One with two pigs under his arms.  At the bottom
of the steps, he says  to the honor guardsman, "These are genuine
Arkansas Razor-Back Hogs.  I got this one for Chelsea and this one for
Hillary."

The guardsman replies, "Nice trade, Sir."

 Con rating -8.08

------------------------------------------------------------
Broma: A man, recently completing a routine physical examination receives a
phone call from his doctor.  The doctor says, "I have some good news and
some bad news."  The man says, "OK, give me the good news first."  The
doctor says, "The good news is, you have 24 hours to live."  The man
replies, "Shit!  That's the good news?  Then what's the bad news?"

The doctor says, "The bad news is, I forgot to call you yesterday."

 Con rating 9.53

------------------------------------------------------------
Broma: Q. What's 200 feet long and has 4 teeth?

A. The front row at a Willie Nelson Concert.

 Con rating -0.63

------------------------------------------------------------
Broma: A man and Cindy Crawford get stranded on a desert island.  After a couple
of days they fall in love and start sleeping together.  Time pass the
man seems frustrated, Cindy asks if there is anything she can do?  He
says there is one thing, "Could you put on this baseball cap and go to
the other side of the island and answer me when I call you Bob?"  She
agrees.  Next day he is walking on the other side of the island, runs
into her and says "Hi Bob!"
She says "Hello, what's up?"
He replies: "Bob you won't believe it: I've been sleeping with Cindy
Crawford for the past two weeks!!!!"

 Con rating 9.54

------------------------------------------------------------
Broma: There once was a man and a woman that both  got in  a terrible car wreck. Both of their vehicles
were completely destroyed, buy fortunately, no one  was   hurt.  In thankfulness, the woman said to the
man, 'We are both okay, so we should celebrate. I have   a  bottle of wine in my car, let's open it.'
So the woman got the bottleout of the car, and  handed it to the man. The man took a really big drink,
and handed the woman the bottle. The  woman  closed the bottle and put it down. The man  asked,
'Aren't you going to take a drink?'

The woman cleverly replied,
'No, I think I'll  just  wait for the cops to get here.'

 Con rating 2.1

------------------------------------------------------------
Broma: Two atoms are walking down the street when one
atom says to the other
"Oh, my! I've lost an electron!"

The second atom says"Are you sure"

The first replies "I'm positive!"

 Con rating 4.79

------------------------------------------------------------
Broma: How many men does it take to screw in a light bulb?

One...men will screw anything.

 Con rating -9.22

------------------------------------------------------------
Broma: Q: How many stalkers does it take to change a light bulb?

A: Two. One to replace the bulb, and the other to watch it day and night.

 Con rating -4.34

------------------------------------------------------------
Broma: A woman has twins, and gives them up for adoption.  One of
them goes to a family in Egypt and is named "Amal."  The other goes to
a  family in Spain; they name him "Juan."  Years later, Juan sends a
picture of himself to his mom.  Upon receiving the picture, she tells
her husband that she wishes she also had a picture of Amal.
Her husband responds, "But they are twins-if you've seen Juan, you've
seen   Amal.

 Con rating -7.6

------------------------------------------------------------
Broma: Two attorneys went into a diner and ordered two drinks.  Then they produced
sandwiches from their briefcases and started to eat.  The owner became
quite concerned and marched over and told them, "You can't eat your own
sandwiches in here!"

The attorneys looked at each other, shrugged their shoulders and then
exchanged sandwiches.

 Con rating -4.08

------------------------------------------------------------

    joke_id  user_id  rating
0         0      1.0    5.10
1         1      1.0    4.90
2         2      1.0    1.75
3         3      1.0   -4.17
4         4      1.0    5.15
..      ...      ...     ...
5        93   2000.0    4.79
6        16   2000.0   -9.22
7        73   2000.0   -4.34
8        54   2000.0   -7.60
9        95   2000.0   -4.08

[199910 rows x 3 columns]

In [288]:
rating_matrix_item_JT_new = jokes_with_new_rating.pivot_table(index = 'joke_id',columns = 'user_id', values = 'rating').fillna(0)
display(rating_matrix_item_JT_new)

user_id,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0
joke_id,,,,,,,,,,,,,,,,,,,,,
0,5.10,-8.79,-3.50,7.14,-8.79,9.22,-4.03,3.11,-3.64,-7.67,...,-9.42,-1.55,-1.12,-1.84,8.16,3.06,2.33,7.82,2.28,0.00
1,4.90,-0.87,-2.91,-3.88,-0.58,9.37,-1.55,0.92,-3.35,-5.15,...,9.32,-9.37,-1.07,-2.38,4.22,1.84,7.48,1.84,7.04,0.00
2,1.75,1.99,-2.18,-3.06,-0.58,-3.93,-3.64,7.52,-6.46,-3.25,...,-9.76,0.68,-8.35,1.07,-7.18,1.50,-1.89,-1.70,-8.50,-0.63
3,-4.17,-4.61,-0.10,0.05,8.98,9.27,-6.99,0.49,-3.40,-1.65,...,-9.81,2.86,3.88,-0.49,-6.55,1.50,6.60,-5.15,5.68,0.00
4,5.15,5.39,7.52,6.26,7.67,3.45,5.44,-0.58,1.26,4.03,...,7.62,-1.46,5.73,-2.18,-1.46,0.05,1.80,2.91,-4.13,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6.31,-1.02,3.98,3.93,9.13,1.94,0.44,1.21,6.94,1.12,...,-9.27,5.19,-0.10,-1.31,9.13,3.98,-1.60,8.11,-4.13,-4.08
96,-4.95,-0.97,-6.46,-2.57,9.17,1.99,-0.78,5.34,5.83,0.78,...,1.84,2.28,-0.10,-0.24,7.82,3.50,-7.38,-1.26,-1.21,0.00
97,-0.19,4.13,-6.89,1.07,9.17,3.45,-1.02,1.94,5.53,4.76,...,-0.19,-1.80,-0.10,2.18,7.43,-5.00,0.49,-1.26,5.29,0.00
98,3.25,-1.84,-2.33,2.33,9.08,9.17,1.70,3.06,6.55,7.86,...,-0.68,4.66,-0.68,-0.73,3.54,3.30,-2.09,0.15,-9.13,0.00
99,4.37,2.96,-7.38,-0.34,8.98,-1.55,4.22,3.59,3.83,2.09,...,8.79,-1.21,-0.87,0.39,-6.02,3.98,5.53,1.70,9.08,0.00

### k = 3

In [289]:
item_recom(rating_matrix_item_JT_new, 2000, 5,'jester',number_neighbors=3)

Chistes recomendados para el usuario de id: 2000

1: A neutron walks into a bar and orders a drink.
"How much do I owe you?" the neutron asks.

The bartender replies, "for you, no charge."
 - predicción: 4.79
--------------------------------------------------------------------------------
2: A man visits the doctor. The doctor says "I have bad news for you.You have
cancer and Alzheimer's disease".
The man replies "Well,thank God I don't have cancer!"
 - predicción: 0.0
--------------------------------------------------------------------------------
3: This couple had an excellent relationship going until one day he came home
from work to find his girlfriend packing. He asked her why she was leaving him
and she told him that she had heard awful things about him.

"What could they possibly have said to make you move out?"

"They told me that you were a pedophile."

He replied, "That's an awfully big word for a ten year old."
 - predicción: 0.0
--------------------------------------------------------------------------------
4: Q. What's the difference between a man and a toilet?

A. A toilet doesn't follow you around after you use it.
 - predicción: 0.0
--------------------------------------------------------------------------------
5: Q.	What's O. J. Simpson's Internet address?
A.	Slash, slash, backslash, slash, slash, escape.
 - predicción: 0.0
--------------------------------------------------------------------------------

### k = 10

In [290]:
item_recom(rating_matrix_item_JT_new, 2000, 5,'jester',number_neighbors=10)

Chistes recomendados para el usuario de id: 2000

1: A man visits the doctor. The doctor says "I have bad news for you.You have
cancer and Alzheimer's disease".
The man replies "Well,thank God I don't have cancer!"
 - predicción: 4.267514790806809
--------------------------------------------------------------------------------
2: This couple had an excellent relationship going until one day he came home
from work to find his girlfriend packing. He asked her why she was leaving him
and she told him that she had heard awful things about him.

"What could they possibly have said to make you move out?"

"They told me that you were a pedophile."

He replied, "That's an awfully big word for a ten year old."
 - predicción: 4.267514790806809
--------------------------------------------------------------------------------
3: Bill & Hillary are on a trip back to Arkansas. They're almost out of gas, so Bill pulls into a service station on the outskirts of
town. The attendant runs out of the station to serve them when Hillary realizes it's an old boyfriend from high school. She and
the attendant chat as he gases up their car and cleans the windows. Then they all say good-bye.

As Bill pulls the car onto the road, he turns to Hillary and says, 'Now aren't you glad you married me and not him ? You could've
been the wife of a grease monkey !'

To which Hillary replied, 'No, Bill. If I would have married him, you'd be pumping gas and he would be the President !'
 - predicción: 0.0
--------------------------------------------------------------------------------
4: How many feminists does it take to screw in a light bulb?
That's not funny.
 - predicción: 0.0
--------------------------------------------------------------------------------
5: Q: If a person who speaks three languages is called "tri-lingual," and
a person who speaks two languages is called "bi-lingual," what do call
a person who only speaks one language?

A: American!
 - predicción: 0.0
--------------------------------------------------------------------------------

### k = 30

In [291]:
item_recom(rating_matrix_item_JT_new, 2000, 5,'jester',number_neighbors=30)

Chistes recomendados para el usuario de id: 2000

1: This couple had an excellent relationship going until one day he came home
from work to find his girlfriend packing. He asked her why she was leaving him
and she told him that she had heard awful things about him.

"What could they possibly have said to make you move out?"

"They told me that you were a pedophile."

He replied, "That's an awfully big word for a ten year old."
 - predicción: 3.721293059698072
--------------------------------------------------------------------------------
2: A man visits the doctor. The doctor says "I have bad news for you.You have
cancer and Alzheimer's disease".
The man replies "Well,thank God I don't have cancer!"
 - predicción: 2.5431536165584285
--------------------------------------------------------------------------------
3: An explorer in the deepest Amazon suddenly finds himself surrounded
by a bloodthirsty group of natives. Upon surveying the situation, he
says quietly to himself, "Oh God, I'm screwed."

The sky darkens and a voice booms out, "No, you are NOT
screwed. Pick up that stone at your feet and bash in the head of the
chief standing in front of you."

So with the stone he bashes the life out of the chief. Standing above
the lifeless body, breathing heavily looking at 100 angry natives...

The voice booms out again, "Okay ..... NOW you're screwed."
 - predicción: 1.8100613172237758
--------------------------------------------------------------------------------
4: A guy goes into confession and says to the priest, "Father, I'm 80 years
old, widower, with 11 grandchildren. Last night I met two beautiful flight
attendants. They took me home and I made love to both of them. Twice."

The priest said: "Well, my son, when was the last time you were in
confession?"
 "Never Father, I'm Jewish."
 "So then, why are you telling me?"
 "I'm telling everybody."
 - predicción: 1.75329503127483
--------------------------------------------------------------------------------
5: A guy walks into a bar, orders a beer and says to the bartender,
"Hey, I got this great Polish Joke..."

The barkeep glares at him and says in a warning tone of voice:
"Before you go telling that joke you better know that I'm Polish, both
bouncers are Polish and so are most of my customers"

"Okay" says the customer,"I'll tell it very slowly."
 - predicción: 1.515567288774857
--------------------------------------------------------------------------------

### k = 50

In [292]:
item_recom(rating_matrix_item_JT_new, 2000, 5,'jester',number_neighbors=50)

Chistes recomendados para el usuario de id: 2000

1:  President Clinton looks up from his desk in the Oval Office to see
 one of his aides nervously approach him.
 "What is it?" exclaims the President.
"It's this Abortion Bill Mr. President, what do you want to do
 about it?" the aide replies.
"Just go ahead and pay it." responds the President.
 - predicción: 3.262117158205169
--------------------------------------------------------------------------------
2: Two men are discussing the age old question: who enjoys sex more, the
man or the woman?  A woman walks by and listens in for awhile and then
interrupts:
"Listen you guys. You know when your ear itches and you put in your
little finger and wiggle it around for awhile?  Afterward,
which feels better, your finger or your ear?"
 - predicción: 3.1664595013854777
--------------------------------------------------------------------------------
3: An explorer in the deepest Amazon suddenly finds himself surrounded
by a bloodthirsty group of natives. Upon surveying the situation, he
says quietly to himself, "Oh God, I'm screwed."

The sky darkens and a voice booms out, "No, you are NOT
screwed. Pick up that stone at your feet and bash in the head of the
chief standing in front of you."

So with the stone he bashes the life out of the chief. Standing above
the lifeless body, breathing heavily looking at 100 angry natives...

The voice booms out again, "Okay ..... NOW you're screwed."
 - predicción: 3.156734515421735
--------------------------------------------------------------------------------
4: What is the difference between men and women:


A woman wants one man to satisfy her every need.
A man wants every woman to satisfy his one need.
 - predicción: 3.0516291596807847
--------------------------------------------------------------------------------
5: An old Scotsmen is sitting with a younger Scottish gentleman and says the boy.
"Ah, lad look out that window. You see that stone wall there, I built it with
me own bare hands, placed every stone meself.  But do they call me MacGregor the
wall builder? No!

He Takes a few sips of his beer then says, "Aye, and look out on that lake and
eye that beautiful pier. I built it meself, laid every board and hammered each
nail but do they call me MacGregor the pier builder? No!

He continues..."And lad, you see that road? That too I build with me own bare
hands. Laid every inch of pavement meself, but do they call MacGregor the road
builder? No!"

Again he returns to his beer for a few sips, then says,
"Agh, but you screw one sheep..."
 - predicción: 3.004158448294095
--------------------------------------------------------------------------------

## 3. Conclusiones finales (20 puntos)

1. Analice los resultados obtenidos y contraste ambos enfoques (ubcf y ibcf). 
2. Analice ventajas y desventajas de ambos enfoques.